@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&family=Bellefair&display=swap');
/* Mobile Styles */
.crew {
    width: 100vw;
    height: 100%;
    background: url(../public/assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease-in-out;
  }
  .crew .main {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 50px;
}
.title {
    height: auto;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;

}

span {
    opacity: 0.3;
    padding-right: 10px;
}

/* Tablet Styles */
@media all and (min-width: 768px) {
    .crew {
        width: 100vw;
        height: 100%;
        background: url(./assets/crew/background-crew-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
}
/* Desktop Styles */