@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}


/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */


/* Layout Styles */
.layout {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

/* Mobile */

/* NavBar Styles */
.navbar {
  display: flex;
  height: 100px;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
  position: relative;
  font-family: Barlow Condensed;
}

.nav-logo {
  height: 50px;
  width: 50px;
}

.bars,
.times {
  color: #D0D6F9;
  font-size: 60px;
  cursor: pointer;
}

.logo {
  height: 100%;
  width: 100%;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.04);
  height: 0;
  right: 0;
  top: 0;
  width: 300px;
  max-width: 70vw;
  backdrop-filter: blur(40px);
  --webkit-backdrop-filter: blur(40px);
  transition: width 0.3s ease;
  padding: 20px 30px;
  opacity: 0;
}
.show-nav{
  opacity: 1;
  height: 100vh;
  transition: height 0.6s ease;
}
.remove-bars{
  display: none;
}
.nav-line {
  display: none;
}

.nav-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-top: 100px;
  gap: 40px;
  height: auto;
  align-items: flex-start;
}
.nav-list li{
  height: 100%;
  display: flex;
  align-items: center;
}

.list-item {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.list-item::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #c7c4c4;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); 
  transition: width 0.3s, opacity 0.3s;
  opacity: 0;
}


.list-item:hover::after {
  width: 100%;
  opacity: 1;
}
.list-item.active::after {
  width: 100%;
  opacity: 1;
  background-color: white;
}

.list-item span {
  padding-right: 10px;
  font-weight: 600;
}

.times {
  position: absolute;
  right: 40px;
  top: 20px;
}

/* Home Styles */
.home {
  width: 100vw;
  height: 100%;
  background: url(./assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Crew Styles */
.crew {
  width: 100vw;
  height: 100%;
  background: url(./assets/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Destination Styles */
.destination {
  width: 100vw;
  height: 100%;
  background: url(./assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.technology {
  width: 100vw;
  height: 100%;
  background: url(./assets/technology/background-technology-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Tablet */
@media all and (min-width: 768px) {

  /* NavBar Styles */
  .navbar {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    position: unset;
    padding: 0 0 0 60px;

  }

  .nav-logo {
    height: 60px;
    width: 60px;
  }

  .bars,
  .times {
    display: none;
  }


  .nav-menu {
    display: flex;
    position: unset;
    height: 60%;
    width: 600px;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .nav-line {
    display: inline;
    width: 500px;
    height: 1px;
    position: absolute;
    left: -78%;
    opacity: 0.2;
    background: #FFF;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 0;
    height: 100%;
  }

  .list-item {
    font-size: 1.1rem;
    height: 100%;
  }
  .list-item::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #c7c4c4;
    position: absolute;
    bottom: 0;
    left: 50%; /* Adjust to center the line under the text */
    transform: translateX(-50%); /* Center the line */
    transition: width 0.3s, opacity 0.3s; /* Include opacity transition */
    opacity: 0;
  }


  /* Home Styles */
  .home {
    width: 100vw;
    height: 100%;
    background: url(./assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .crew {
    width: 100vw;
    height: 100%;
    background: url(./assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .destination {
    width: 100vw;
    height: 100%;
    background: url(./assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .technology {
    width: 100vw;
    height: 100%;
    background: url(./assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }


}

/* Desktop */